.näytöksetcontainer {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}
.moviediv {
  display: flex;
  margin-bottom: 10px;
  border: 2px solid gray;
}
.row {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.row p {
  margin-bottom: 10px;
  color: var(--light-color);
}
.row h3 {
  margin-top: 10px;
  color: var(--light-color);
}
.kuva {
  flex: 1;
  height: 210px;
}
.kuva img {
  margin: 5px;
  align-self: center;
  width: 150px;
}

.rating img {
  height: 30px;
  width: 40px;
}

.selectit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.selectit select {
  height: 30px;
  width: calc(100% - 20px);
  margin: 10px;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.selectit option {
  color: var(--light-color);
}
.nappi {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nappi button {
  margin-right: 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
  height: 50px;
  width: 100px;
  font-size: larger;
}
.virhediv {
  text-align: center;
  margin-top: 120px;
  color: var(--dark-color);
}
