#omasivu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}
#omasivu-container button {
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 50px;
    width: 100px;
    font-size: larger;
}