.popupcontainer {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 50%;
  height: 500px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 5px 15px rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popupcontainer p {
  color: var(--light-color);
  background-color: var(--dark-color);
  width: 80%;
  text-align: center;
}
.popupcontainer img {
  margin-bottom: 10px;
}

.popupcontainer button {
  background-color: var(--light-color);
  color: var(--dark-color);
  width: 50%;
  margin-bottom: 10px;
  font-size: larger;
}

p {
  margin-bottom: 30px;
}
