div#register-form {
    display: flex;
    justify-content: center;
}

div#register-form div {
    margin: var(--gutter) 0;
}

div#register-form label {
    display: inline-block;
    width: 100px;
}

div#register-form button {
    width: 50px;
}

div#register-form input {
    background-color: var(--light-color);
    color: var(--dark-color);
}