.ryhmatcontainer {
  margin: 50px;
}

.ryhmatcontainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ryhma-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.yksi, .kaksi, .kolme {
  width: 100%;
}

.ryhmanimi-input input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.ryhmatcontainer button {
  padding: 5px 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: larger;
}

.liittymispyynnot {
  width: 100%;
}

.requests {
  margin-bottom: 10px;
}

.requests p {
  margin: 5px 0;
}

.requests button {
  margin-right: 10px;
}

.kaksi button {
  margin-left: 10px;
}


.ryhmat-ei-kirjautunut {
  margin-top: 20px;
}

.ryhmat-ei-kirjautunut table, .kaksi table {
  width: 50%;
  border-collapse: collapse;
}

.ryhmat-ei-kirjautunut th, .ryhmat-ei-kirjautunut td,
.kaksi th, .kaksi td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: justify;
}

.kaksi th, .kaksi td {
  min-width: 120px; 
  padding: 8px;
  text-align: justify;
}

.yksi ul {
  list-style: none; 
  padding: 0;
}

.yksi li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  width: 50%;
}

.yksi li a {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.yksi a:hover {
  color: var(--accent-color);
}



.ryhmat-ei-kirjautunut tbody tr:nth-child(even),
.kaksi tbody tr:nth-child(even){
  background-color: #f2f2f2;
}

@media only screen and (min-width: 800px) {
  .ryhma-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
