.ryhmatcontainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.ryhma-grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

.yksi {
  grid-area: 1 / 1 / 2 / 3;
}

.kaksi {
  grid-area: 3 / 1 / 4 / 3;
}

.kolme {
  grid-area: 2 / 1 / 3 / 3;
}

.liittymispyynnot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
}

.ryhma-grid-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  gap: 10px;
}

.ryhmanimi-input {
  display: flex;
}

.ryhmanimi-input button {
  background-color: var(--light-color);
  color: var(--dark-color);
  height: 50px;
  width: 100px;
  font-size: larger;
}

.liittymispyynnot > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.requests {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.requests p {
  margin-left: 10px;
}
