.Ryhmänomansivuncontainer {
  display: block;
  text-align: center;
}
.ryhmällejaetutelokuvat {
  display: flex;
}
.ryhmällejaetutelokuvat img {
  height: 300px;
  width: 200px;
  margin: 10px;
}

.jaetutarvostelut {
  display: flex;
}
.jaetutarvostelut img {
  height: 300px;
  width: 200px;
  margin: 10px;
}

.jaetutnäytökset {
  display: flex;
  margin-bottom: 100px;
}
.jaetutnäytökset img {
  height: 300px;
  width: 200px;
  margin: 10px;
}
