.uusiarvostelucontainer {
  width: 80%;
  margin: auto;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.uusiarvostelucontainer select {
  background-color: var(--light-color);
  color: var(--dark-color);
  height: 30px;
  width: 120px;
  margin-left: 10px;
}

.uusiarvostelucontainer option {
  background-color: var(--light-color);
  color: var(--dark-color);
}

h1 {
  text-align: center;
}
textarea {
  height: 400px;
  width: 50%;
  padding: 5px;
  margin-top: 20px;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.uusiarvostelunappi button {
  margin-top: 20px;
  height: 35px;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: larger;
}
